/*Mobile css*/
@media screen and (max-width:800px){
    .achievement-block{
        height: auto;
        img{
            width: 100%;
            border-radius: 10cqw;
            float: left;
        }
    }  
}


/*Desktop css*/
@media screen and (min-width:801px){
    .achievement-block{
        height: auto;
        overflow: hidden;
        img{
            width: 50%;
            border-radius: 3cqw;
            float: left;
            margin-right: 1rem;
        }
    }
}