
/*Main font*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');


:root{
    --edge_padding: 1rem;
    --bg_color: #0f0f23;
    --text_color: #cccccc;
    --link_color: #00cc00;
    --link_highlight_colour: #63ea63;
    --hx-color: #ffffff;
}


body{
    margin: 0;
    background-color: var(--bg_color);
    color: var(--text_color);

    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: large;
}

header{
    grid-area: head;
    padding: var(--edge_padding)
}

main{
    grid-area: main;
    padding: var(--edge_padding);
}

ul{
    list-style-type: none;
}


a{
    color: var(--link_color);
}
a:hover{
    color: var(--link_highlight_colour);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--hx-color);
}


#global-nav{
    grid-area: nav_g;
}

#local-nav{
    grid-area: nav_l;
}

.menu-btns{
    grid-area: menu_btns;
    padding-left: var(--edge_padding);
    padding-right: var(--edge_padding);
}

i.material-icons{
    font-size: 2rem;
}




/*desktop css*/
@media screen and (min-width:801px){
    .wrapper{
        display: grid;
        grid-template-columns: 10vw 15vw 50vw 15vw 10vw;
        grid-template-rows: auto auto;
        grid-template-areas: 
        ". head head head . "
        ". nav_g main nav_l. ";
    }

    #mobile-global-nav{
        display: none;
    }

    #mobile-local-nav{
        display: none;
    }

    .menu-btns{
        display:none;
    }
}

/*mobile css*/
@media screen and (max-width:800px){
    .wrapper{
        display: grid;
        grid-template-columns: 100vw;
        grid-template-rows: auto auto auto 0 ;
        grid-template-areas:
        "head"
        "menu_btns"
        "main"
        ;
    }

    #global-nav,
    #local-nav{
        display: none;
    }
    
    #mobile-global-nav,
    #mobile-local-nav{
        display: block;
        position: fixed;
        width: 100vw;
        height: 100vh;
        background-color: blueviolet;
        top: 100vh;
        transition: 0.5s;

        z-index: 10;
    }
    #mobile-global-nav.show-menu,
    #mobile-local-nav.show-menu{
        top: 20vh;
    }
    
    

    .fade-layer{
        display: block;
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 5;
    }

    .menu-btns{
        display: flex;
        justify-content: space-between;
    }

    
    
}

.hidden{
    display: none !important;
}