

/*desktop css*/
@media screen and (min-width:800px){
    .wrapper{
        display: grid;
        grid-template-columns: 20vw 1fr 20vw;
        grid-template-rows: 1fr auto;
        grid-template-areas: 
        "head head head"
        "nav_g main nav_l";
    }

    #mobile-global-nav{
        display: none;
    }

    #mobile-local-nav{
        display: none;
    }
}


/*mobile css*/
@media screen and (max-width:800px){
    .wrapper{
        display: grid;
        grid-column: auto;
        grid-row: 1fr 70vh;
        grid-template-areas: 
        "head"
        "main";
    }

    #global-nav{
        display: none;

    }
    #local-nav{
        display: none;
    }
}
