



/*desktop css*/
@media screen and (min-width:800px){
    .wrapper{
        display: grid;
        grid-template-columns: 20vw 1fr 20vw;
        grid-template-rows: 1fr auto;
        grid-template-areas: 
        "head head head"
        "nav_g main nav_l";
    }

    #mobile-global-nav{
        display: none;
    }

    #mobile-local-nav{
        display: none;
    }
}


/*mobile css*/
@media screen and (max-width:800px){
    .wrapper{
        display: grid;
        grid-column: auto;
        grid-row: 1fr 70vh;
        grid-template-areas: 
        "head"
        "main";
    }

    #global-nav,
    #local-nav{
        display: none;
    }
    
    #mobile-global-nav,
    #mobile-local-nav{
        display: block;
        position: fixed;
        width: 100vw;
        height: 100vh;
        background-color: blueviolet;
        top: 100vh;
        transition: 0.5s;

        .show-menu{
            top: 20vh;
        }
        z-index: 10;
    }
    
    #mobile-global-nav.show-menu,
    #mobile-local-nav.show-menu{
        top: 20vh;
    }

    .fade-layer{
        display: block;
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 5;
    }

    .hidden{
        display: none;
    }
    

}
